// FRAMEWORK
@import "framework/material.min.css";

// FONTS
@import "fonts/font-awesome/css/font-awesome.min.css";

// custom
@import "sass/mixins";
@import "sass/general-rules";
@import "sass/menu";
@import "sass/generic-effects";
@import "sass/handlers";
@import "sass/grid";
@import "sass/text";
@import "sass/color-modify";
@import "sass/socialMap";
