.grey-nav {
    * {
        color: #757575 !important;
    }
}



.map-select {
    text-decoration: none;
    color: white;

    @include transition();

    &:first-child {
        margin-right: 15px;
    }

    &:after {
        @include transition();
        @include pseudElement();

        bottom: -5px;
        left: 50%;
        top: unset;

        height: 5px;
        width: 0%;

        background: #B5D9E0;

    }
    &.active, &:hover {
        position: relative;
        &:after {
            background: #6DCEE2;

            left: 0;
            width: 100%;

        }
    }
}

#config-drawer {
    color: white;
    font-size: 35px;

    &:hover {
        i{
            @include rotateZ(60);
        }
    }
}

@media all and (min-width: 990px ) {
    .mdl-layout__drawer-button {
        display: none;
    }

    .drawer-space {
        margin-top: 80px;
    }

    .place-box {
        position: relative;

        span {
            @include pseudElement();

            background: transparent;

            top: 8px;
            left: -37px;

            width: 34px;
            height: 15px;

            font-size: 22px;
            text-align: center;


            i {
                @include transition-duration(.2s);
                color: #114B7D;

                width: 100%;

                &:hover {
                    color: #002B50 !important;

                    margin-top: -1px;
                    font-size: 28px;

                    // text-indent: -15px;
                }
            }

        }
    }
}
