@mixin pseudElement {
    position: absolute;
    top: 0px;
    left: 0;
    content: ' ';
    display: block;
    width: 15px;
    height: 15px;
    background: black;
}

@mixin transition {
    -moz-transition:  all ease-in .5s;
    -webkit-transition: all ease-in .5s; /* For Safari 3.1 to 6.0 */
    transition:  all ease-in .5s;
}
